@media all and (max-width:1500px) {
    .saitebar {
        width: 100%;
    }
}
@media all and (max-width:1400px) {
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

}

@media all and (max-width:985px) {
    .button-black {
        display: inline-block;
        zoom: 1;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 15px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
} 

@media all and (max-width:1100px) {
    .info-list {
        display: flex;
        flex-direction: row;
    }
    .input-button textarea {
        width: 80%;
        height: auto;
    }
    .input-button button {
         margin-left: 20%;
    }
}
@media all and (max-width:780px) {
    .info-list {
        display: flex;
       
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .input-button {
        display: flex;
        width: 60%;
    }
    .info {
        display: flex;
        align-items: center;
        width: 60%;  
        margin-left: 6%;
    }
    .section {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .content1 {
width: auto;
    }
    .content2 {
        width: auto;
    }
    .content3 {
        width: auto;
    }
}
@media   (max-width:580px) and (min-width:1200px) {

.content1 {
width: auto;
margin: 0;
    }
    .content1 h3 {
       margin-right: 10%; 
    }
    .content2 {
        width: auto;
        padding-top: 10%;
    }

    .content3 {
        width: auto;
        padding-top: 10%;
    }
    .section button {
        margin-left: 20%;
    }
}
@media   (min-width:480px) and (max-width:580px) {
header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-left: 1px solid #fff;
}
.section-inner {  
    width: 200px; 
    transition: all 1s;
}
.section-inner {
    flex-direction: column;
}
.dwsmenu:checked ~ .section-inner {
    margin: 0;
}
.section-inner a {
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgb(3, 238, 255);
box-shadow: 1px 1px 2px 3px #1bf4fc inset;
height: 30px;
}
.input-button {
    margin: 0;
    padding: 0;
}
.info {
    margin: 0;
    padding: 0;
}
}

@media (min-width:150px)  and (max-width:480px) {
    html {
        margin: 0;
        padding: 0;
        

    }
   body {
    margin: 0;
    padding: 0;
    font-size: 0.8em; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
 body p, h3 {
      margin: 0;
      padding: 0;
  }
   nav {
       width: auto;
       height: auto;
   }
   .job-bg {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       margin: 0;
       padding: 0;
   }
   .job-bg1 {
       width: 70%;
   }
   .main2 {
       display: flex;
       flex-direction: column;
   }
   .button-main {
       width: 95%;
   }
    .section-inner {  
        width: 200px; 
        transition: all 1s;
    }
    .section-inner {
        flex-direction: column;
    }
    .dwsmenu:checked ~ .section-inner {
        margin: 0;
    }
    .section-inner a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(3, 238, 255);
    box-shadow: 1px 1px 2px 3px #1bf4fc inset;
    height: 30px;
    margin: 0;
    padding: 0;
    }
    .input-button {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .info {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .input-button2 textarea {
        width: 80%;
        height: auto;
    }
    .but2 {
        padding: 0;
        width: 80%;
        margin-left: 9%;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .but3 input {
        width: 30%;
    }
    .submit input{
      width: 80%;
      margin-right: 10px;
    }
    .gostbg {
        display: flex;
        flex-direction: column;
    }
    .zakaz {
        display: flex;
        flex-direction: column;
    }
}
